@import url("https://fonts.googleapis.com/css?family=Lilita+One");

body {
  background: #2a3340;
  border: 0;
  margin: 0;
  font-family: "Lilita One", sans-serif;
}

#container {
  display: flex;
}

#motivational-sentence {
  font-size: 5em;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  color: white;
}

#confetti-canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

#about {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 1rem;
  margin: 1em;
}
